.modal__delete-btn {
  position: relative;
  font-size: 20px;
  left: 300px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ff4d00;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
  font-family: "CabinetGrotesk-Bold", Times, serif;
}

.modal__confirm-title {
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 48px;
  text-align: center;
}

.modal__confirm-delete-button {
  color: #ff4d00;
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: #ffffff;
  position: absolute;
  bottom: 28%;
  right: 35%;
  cursor: pointer;
}

.modal__cancel-button {
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: #ffffff;
  position: absolute;
  right: 42%;
  cursor: pointer;
}

@media only screen and (max-width: 405px) {
  .modal .modal__confirm-delete-button {
    color: green !important;
    /* {bottom: 20% !important;
      right: 30% !important;} */
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color: yellow;
  }
}
