.cards {
  margin-top: 40px;
}

.cards__text {
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.cards__list {
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
